@using Entities
@model List<Brand>
@{
    ViewData["Title"] = "BrandList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Marka Adı</th>
                <th>Oluşturulma Tarihi</th>
                <th>Statüsü</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var brand in Model)
            {
                <tr>
                    <td>@brand.Id</td>
                    <td>@brand.Name</td>
                    <td>@brand.CreateDate</td>
                    <td>@brand.Status</td>
                    <td><a href="/Brand/BrandDelete/@brand.Id/">Sil</a></td>
                    <td><a href="/Brand/BrandUpdate/@brand.Id/">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <h6>@Model.Count Adet Marka Bulunmaktakdır.@ViewBag.True tanesi Aktif durumda , @ViewBag.False tanesi Pasif durumdadır.</h6>
    @await Html.PartialAsync("~/Views/Brand/BrandAdd.cshtml")
</div>
